<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My-first-blog</title>
</head>

<body>
    <section>
        <h1><a href="/">Django Girls Blog</a></h1>
        <article>
            <p>Hello eweryone!</p>
        </article>
        <article>
            <p>
                {% for post in posts %}
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                {% endfor %}
            </p>
        </article>
    </section>
</body>

</html>